[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "osx-terminal-themes"]
	path = osx-terminal-themes
	url = https://github.com/emtseng/osx-terminal-themes.git
